{% extends "public/templates/solar_template.html" %}

{% block title %}Sun Position{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Solar Position</h1>

    <form action="" method="post">
        <p> 
            <label for="isodt">ISO Date GMT</label>
            <input type="isodt" name="isodt">
        </p>
        <p> 
            <label for="isot">ISO Time GMT</label>
            <input type="isot" name="isot">
        </p>
        <p> 
            <label for="latit">Latitude</label>
            <input type="text" name="latit" value="65.85">
        </p>
        <p>
            <label for="longit">Longitude</label>
            <input type="text" name="longit" value="24.18">
        </p>
        <p> 
            <label for="tzone">Time Zone</label>
            <input type="text" name="tzone" value="2">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>

    {% if msg1 %}
       Latitude: {{msg1}}° Longitude: {{msg2}}° Timezone: UTC + {{TZ}}
    {% endif %}
    <p>Date {{datestamp}}, time {{timestamp}} GMT</p>
    {% if calcdate %}
    <p>Calculation date: {{calcdate}}</p>
    {% endif %}
    <p>Calculation time: {{calctime}} GMT</p>
    <h4>Julian Day-Number of the current day</h4>
    <ul>
        <li>Julian Day Number: {{jdn}}</li>
        <li>Julian Day:        {{jd}}</li>
        <li>Julian Century:    {{fCent}}</li>
    </ul>
    <h4>Sun Position Parameters</h4>
    <ul>
    {% if testing %}
        <li>Mean Longitude of Sun:    {{fSunML}}°</li>
        <li>Mean Anomality of Sun:     {{fAnom}}°</li>
        <li>Earth Orbit Eccentricity: {{fEccEO}} </li>
        <li>Sun Eq. Center:       {{fSunEqCntr}} </li>
        <li>Sun True Anomality: {{fSunTrueAnom}}°</li>
        <li>Sun True Longitude: {{fTrueLongSun}}°</li>
        <li>Sun Apparent Longitude: {{fAppLongSun}}°</li>
        <li>Mean Obliquity of Ecliptic: {{fMeanObliqEcl}}°</li>
        <li>Corrected Obliquity: {{fObliqCorr}}°</li>
        <li>Right Ascension:     {{fRectAsc}}°</li>
        <li>Variable Y     :     {{fvarY}}°</li>
    {% endif %}
        <li>Equation of Time:    {{fEquationTime}}°</li>
        <li>Sun Declination:     {{fSunDeclination}}°</li>
    </ul>
    {% if request.method == 'POST' %}
    <h4>Local Values</h4>
    <ul>
        <li>Sunrise Hourangle:   {{fSrHA}}°</li>
        <li>Daylight time:       {{gHoursDL}}</li>
        <li>Civil Twilight :     {{gRiseCivTwl}} before Sunrise</li>
        <li>Sunrise Time at:     {{gRiseTime}}</li>
        <li>Noon Time at:        {{gNoonTime}}</li>
        <li>Sunset Time at:      {{gSunsetTime}}</li>
        <li>Civil Twilight :     {{gSetCivTwl}} after Sunset</li>
        <li>True Solar Time:     {{fTrueST}} minutes</li>
        <li>Hour Angle     :     {{fHRangle}}°</li>
        <li>Current Azimuth:     {{fSunAzim}}°</li>
        <li>Zenith Angle     :   {{fZenith}}°</li>
        <li>Current Sun Altitude:   {{fSunAlt}}°    no refraction</li>
        <li>Current corr. Altit.:   {{fCorrectElevation}}°  with refraction</li>
        <li>Max Sun Altitude    :   {{fMaxAlt}}°    at Noon, no refraction</li>
        <li>Max Corr. Altitude  :   {{fMaxCorrEl}}° with refraction</li>
    </ul>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
